body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 250px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  input {
    width: 90%;
    margin: 5px 0;
    padding: 8px;
  }

  input[type="checkbox"] {
    width: 15px;
}

#generatedPassword {
  border: 1px solid;
  text-align: center;
  margin-top: 5px;
  font-size: large;
}

.text-bold{
  font-weight: bold;
}
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #passwords-list {
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  